body {
    background: #F2F2F2;
    height: 120px;
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

button {
    border-radius: 3px;
    border: none;
    opacity: 0.5;
    display: inline-block;
    margin: 4px;
}

button:hover {
    opacity: 1;
}

img {
    padding-top: 4px;
    width: 24px;
    height: 24px;
    margin: 6px;
}

p {
    padding: 0;
    color: #797979;
    text-align: center;
    margin: 2px;
}