body {
    background: #F2F2F2;
    height: 32px;
    width: 80px;
}
button {
    border-radius: 3px;
    border: none;
    opacity: 0.5;
    display: inline-block;
}
button:hover {
    opacity: 1;
}
img {
    padding-top: 4px;
    width: 24px;
    height: 24px;
    padding-bottom: 2px;
}
p {
    padding-top: 0;
    color: #797979;
    text-align: center;
    padding-bottom: 0px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}