body {
    background: #F2F2F2;
    height: 32px;
    width: 80px;
}
button {
    border-radius: 3px;
    border: none;
    opacity: 0.5;
    display: inline-block;
}
button:hover {
    opacity: 1;
}
img {
    padding-top:2px;
    width: 24px;
    height: 24px;
    padding-bottom: 0;
}

p {
    color: #797979;
    text-align: center;
    padding-bottom: 4px;
}